# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/ignisci
pax.json

/gales
scripts/import-gales-clients.js

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

viajemos-cero-stress/PROVEEDORES.xlsx
.gitignore
viajemos-cero-stress/reportes/migrate-viajemos-cero-stress-agency-179-20260423-170147-apply.json
viajemos-cero-stress/reportes/migrate-viajemos-cero-stress-agency-179-20260423-170047-dry-run.json
.gitignore
viajemos-cero-stress/reportes/migrate-viajemos-cero-stress-agency-179-20260423-172033-dry-run.json
.gitignore
scripts/migrate-viajemos-cero-stress.js
.gitignore
viajemos-cero-stress/reportes/migrate-viajemos-cero-stress-agency-179-20260423-171938-apply.json
viajemos-cero-stress/OPERADORES3.xlsx
